<!DOCTYPE html>
<html lang="en">

<head>
    {{> common/meta}}
    {{> common/css}}
    <!-- Helpers -->
    <link href="/assets/css/toastr.min.css" rel="stylesheet" />
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/jquery/jquery-validator.js"></script>
    <script src="/assets/vendor/libs/jquery/toastr.min.js"></script>

    <script src="/assets/js/sweetalert2.all.min.js"></script>

</head>

<body>
    {{> common/topbar}}
    {{> common/left-sidebar}}
    <div class="mobile-menu-overlay"></div>
    <div class="main-container">
        {{{body}}}
    </div>

    {{> common/js}}

    {{#if flash}}
    {{{flashMe flash}}}
    {{/if}}

    {{{_sections.script}}}
</body>

</html>