<div class="col-12 col-lg-5 col-xl-3 border-right layout">
    <div class="px-4 d-none d-md-block">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                <input type="text" class="form-control my-3" placeholder="Search...">
            </div>
        </div>
    </div>
    {{#if list}}
    {{#each list}}
    <a href="/user-chat/{{_id}}" class="list-group-item list-group-item-action border-0">
        <div class="badge bg-success float-right">5</div>
        <div class="d-flex align-items-start">
            <img src="{{#if image}}{{image}}{{else}}/assets/img/avatars/avatar.png{{/if}}" alt="Vanessa Tucker"
                width="40" height="40">
            <div class="flex-grow-1 ml-3">
                {{name}}
                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>
            </div>
        </div>
    </a>
    {{/each}}
    {{/if}}
    <hr class="d-block d-lg-none mt-1 mb-0">
    <a href="/logout" class="btn btn-danger logout-btn">Logout</a>
</div>